body {
    font-family: Montserrat, Helvetica Neue, sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
    color: #333;
    overflow: auto;
    background: #FFFFFF;
}

@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

body,
html {
    height: 100%;
}

a {
    color: #0d2636;
}

.a-white {
    color: #FFFFFF;
}

p {
    font-weight: 200;
    font-size: 20px;
    line-height: 25px;
}

.p-white {
    font-weight: 200;
    font-size: 20px;
    color: #FFFFFF
}

.p-bookstate {

	margin-left: -5px;
	font-family: Montserrat;
	font-size: 15px;
	line-height: 5px;
	color: #0d2636;
}

.photo {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.icon {
    width: 50px;
    height: 50px;
}

.icon-appstore {
    width: 150px;
    height: 50px;
}

.icon-book-state {
    width: 35px;
    height: 35px;
}

.icon-book {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.icon-app {
    border-radius: 15px;
    width: 75px;
    height: 75px;
}

.topnav {
    width: 100%;
    position: fixed;
    background-color: #FFFFFF;
    overflow: hidden;
    z-index: 1;
    -webkit-box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 48px -10px rgba(0, 0, 0, 0.5);
}

.topnav a {
    float: left;
    color: #0d2636;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 13px;
}

.topnav a:hover {
    background-color: #0d2636;
    color: #ffffff;
}

.topnav a.active {
    background-color: #0d2636;
    color: white;
}

article {
    padding: 12px;
}

hr {
    border-bottom: 3px solid #0d2636;
}

footer .inline-list li {
    padding-right: 20px;
}

footer {
    margin: 0 auto;
    bottom: 0px;
    padding: 40px 0;
}

* {
    box-sizing: border-box;
}

.wrapper {
    box-sizing: border-box;
    overflow: auto;
}

.section {
    padding: 0px 50px 50px 50px;
}

.sectionStyleBlue {
    background-color: #0d2636;
    padding: 0px 50px 50px 50px;
}

.name {
    font-family: Montserrat;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 12px;
    border: 4px solid #0d2636;
    color: #0d2636;
    display: inline-block;
    margin-bottom: 20px;
    top: 20px;
    left: 90px;
    line-height: 42px;
}

.title {
    font-family: Montserrat;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 12px;
    color: #0d2636;
    display: inline-block;
}

.title-white {
    font-family: Montserrat;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    padding: 12px;
    color: #FFFFFF;
    display: inline-block;
}

.project-title {
    font-family: Montserrat;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 0.5em;
    line-height: 20px;
    color: #0d2636;
}

.book-review {
    font-family: Montserrat;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 0.5em;
    line-height: 20px;
    padding: 15px 0px 0px 0px;
    color: #0d2636;
}

.project-title-personal {
    font-family: Montserrat;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    color: #0d2636;
}

.project-company {
    font-family: Montserrat;
    font-size: 15px;
    line-height: 0.25em;
    color: #0d2636;
    text-decoration: #0d2636;
}

.book-authors {
		font-family: Montserrat;
		margin-top: -15px;
    font-size: 15px;
    line-height: 20px;
    color: #0d2636;
    text-decoration: #0d2636;
}

.container {
    margin: 0 auto;
    margin-top: 75px;
    width: 100%;
    text-align: center;
}

.contentContainer {
    margin: 0 auto;
    width: 100%;
    padding: 12px 12px 12px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .contentContainer {
        width: 80%;
    }
}

.inline-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.inline-list li {
    display: inline-block;
}

.row {
    display: grid;
    grid-gap: 30px 90px;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ffffff;
}

.row-icon {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}

.row-bookstate {
	margin-top: -15px;
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
}

.column {
    border-radius: 5px;
    float: left;
    background-color: #FFFFFF;
    display: grid;
    flex-direction: column;
    align-content: space-between;
    -webkit-box-shadow: 5px 5px 24px -9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 24px -9px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 24px -9px rgba(0, 0, 0, 0.3);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 250ms ease-out;
}

.column:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: all 250ms ease-in;
}

.column-content-wrapper {
    padding: 0px 20px;
}

.column-content-wrapper-books {
	padding: 20px 20px;
}

.column-title {
    float: left;
    padding: 30px 10px 0px 10px;
    align-content: center
}

.column-book {
    float: left;
    padding: 0px 5px;
    align-content: center
}

.column-icon {
    float: left;
    padding: 10px;
    transition: all 250ms ease-out;
}

.column-appicon {
    float: left;
    padding: 10px;
    transition: all 250ms ease-out;
}

.column-icon:hover {
    -webkit-transform: scale(1.10);
    -ms-transform: scale(1.10);
    transform: scale(1.10);
    transition: all 250ms ease-in;
}

@media (max-width: 900px) {
    .sectionStyleBlue {
        padding: 0px 20px 20px 20px;
    }
    .row {
        grid-template-columns: 1fr;
    }
    .column-content-wrapper {
        padding: 0px 10px;
    }
}

@media (max-width: 374px) {
    .column-title {
        padding: 30px 4px 0px 4px;
    }
}


/*  TIMELINE */

.timeline ul {
    overflow-x: hidden;
    background: #ffffff;
    padding: 2px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 25px;
    background: #0d2636;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #0d2636;
}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #0d2636 transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #0d2636;
}

time {
    border-radius: 50%;
    display: block;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 8px;
    font-family: Montserrat, Helvetica Neue, sans-serif;
    color: #ffffff;
}

.timeline ul li::after {
    transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #0d2636;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -289px;
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li div {
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #0d2636 transparent transparent;
    }
}

a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	width: 150px;
	margin: 60px auto 0;
	padding: 14px 15px;
	color: #0d2636;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

a.animated-button.victoria-two {
	border: 2px solid #0d2636;
}
a.animated-button.victoria-two:after {
	background: #0d2636;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
