body {
	font-family: Montserrat, Helvetica Neue, sans-serif;
	margin: 0 auto;
	line-height: 2em;
	box-sizing: border-box;
	color: #333;
	overflow: auto;
	background: #FFFFFF;
}

@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

body, html {
	height: 100%;
}

p {
	font-weight: 200;
	font-size: 20px;
}

.photo {
    border-radius: 50%;
}


.topnav {
	width: 100%;
	position: fixed;
    background-color: #FFFFFF;
	overflow: hidden;
	-webkit-box-shadow: 10px 10px 48px -10px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 10px 48px -10px rgba(0,0,0,0.5);
	box-shadow: 10px 10px 48px -10px rgba(0,0,0,0.5);
}

.topnav a {
    float: left;
    color: #0d2636;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 13px;
}

.topnav a:hover {
    background-color: #0d2636;
    color: #ffffff;
}

.topnav a.active {
    background-color: #0d2636;
    color: white;
}

article {
	padding: 12px;
}

hr {
	border-bottom: 3px solid #0d2636;
}

footer .inline-list li {
	padding-right: 20px;
}

footer {
	margin: 0 auto;
	bottom: 0px;
	padding: 40px 0;
}

* {
    box-sizing: border-box;
}

.wrapper {
	box-sizing: border-box;
	overflow: auto;
}

.sectionStyleBlue {
	background-color: #0d2636;
	padding: 0px 50px 50px 50px;
}

.name {
	font-family: Montserrat;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 900;
	padding: 12px;
	border: 4px solid #0d2636;
	color: #0d2636;
	display: inline-block;
	margin-bottom: 20px;
	top: 20px;
	left: 90px;
	line-height: 42px;
}

.title {
	font-family: Montserrat;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 900;
	padding: 12px;
	color: #0d2636;
	display: inline-block;
}

.project_title {
	font-family: Montserrat;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 0.5em;
	color: #0d2636;
}

.project_company {
	font-family: Montserrat;
	font-size: 15px;
	line-height: 0.25em;
	color: #0d2636;
}

.title_white {
	font-family: Montserrat;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 900;
	padding: 12px;
	color: #FFFFFF;
	display: inline-block;
}

.container {
	margin: 0 auto;
	margin-top: 75px;
	width: 100%;
	overflow: auto;
	text-align: center;
}

.contentContainer {
	margin: 0 auto;
	width: 100%;
	padding: 12px 12px 12px;
	overflow: auto;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.contentContainer{
		width: 80%;
	}
}

.meta {
	text-transform: uppercase;
	font-family: Arial, Courier New, Source Sans Pro, sans-serif;
	font-size: 10px;
	letter-spacing: .15em;
}

.inline-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.inline-list li {
	display: inline-block;
}

.row {
    display: grid;
	grid-gap: 75px 75px;
    grid-template-columns: repeat(2, 1fr);
	background-color: #0d2636;
}

.row_icon {
    display: grid;
	grid-auto-flow: column;
	justify-content: center;
}

.column {
	border-radius: 5px;
    float: left;
    padding: 10px;
	background-color: #FFFFFF;
}

.column_icon {
    float: left;
    padding: 10px;
	background-color: #FFFFFF;
}

@media (max-width: 900px) {
    .row {
        grid-template-columns: 1fr;
    }
}