body {
	font-family: Montserrat, Helvetica Neue, sans-serif;
	margin: 0 auto;
	line-height: 2em;
	box-sizing: border-box;
	color: #333;
	overflow: auto;
	background: #FFFFFF;
}

@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

body, html {
	height: 100%;
}

p {
	font-weight: 200;
	font-size: 20px;
}

.p-white {
	font-weight: 200;
	font-size: 20px;
	color: #FFFFFF
}

.photo {
    border-radius: 50%;
}

.img-fit {
	max-width: 100%;
	max-height: 100%;
}


.topnav {
	width: 100%;
	position: fixed;
    background-color: #FFFFFF;
	overflow: hidden;
	z-index: 1;
	-webkit-box-shadow: 10px 10px 48px -10px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 10px 48px -10px rgba(0,0,0,0.5);
	box-shadow: 10px 10px 48px -10px rgba(0,0,0,0.5);
}

.topnav a {
    float: left;
    color: #0d2636;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 13px;
}

.topnav a:hover {
    background-color: #0d2636;
    color: #ffffff;
}

.topnav a.active {
    background-color: #0d2636;
    color: white;
}

article {
	padding: 12px;
}

hr {
	border-bottom: 3px solid #0d2636;
}

footer .inline-list li {
	padding-right: 20px;
}

footer {
	margin: 0 auto;
	bottom: 0px;
	padding: 40px 0;
}

* {
    box-sizing: border-box;
}

.wrapper {
	box-sizing: border-box;
	overflow: auto;
}

.sectionStyleBlue {
	background-color: #0d2636;
	padding: 0px 50px 50px 50px;
}

.name {
	font-family: Montserrat;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 900;
	padding: 12px;
	border: 4px solid #0d2636;
	color: #0d2636;
	display: inline-block;
	margin-bottom: 20px;
	top: 20px;
	left: 90px;
	line-height: 42px;
}

.title {
	font-family: Montserrat;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 900;
	padding: 12px;
	color: #0d2636;
	display: inline-block;
}

.title-white {
	font-family: Montserrat;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 900;
	padding: 12px;
	color: #FFFFFF;
	display: inline-block;
}

.project_title {
	font-family: Montserrat;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 900;
	line-height: 0.5em;
	color: #0d2636;
}

.project_company {
	font-family: Montserrat;
	font-size: 15px;
	line-height: 0.25em;
	color: #0d2636;
}

.container {
	margin: 0 auto;
	margin-top: 75px;
	width: 100%;
	overflow: auto;
	text-align: center;
}

.contentContainer {
	margin: 0 auto;
	width: 100%;
	padding: 12px 12px 12px;
	overflow: auto;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.contentContainer{
		width: 80%;
	}
}

.meta {
	text-transform: uppercase;
	font-family: Arial, Courier New, Source Sans Pro, sans-serif;
	font-size: 10px;
	letter-spacing: .15em;
}

.inline-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.inline-list li {
	display: inline-block;
}

.row {
    display: grid;
	grid-gap: 30px 90px;
    grid-template-columns: repeat(2, 1fr);
	background-color: #0d2636;
}

.row_icon {
    display: grid;
	grid-auto-flow: column;
	justify-content: center;
}

.column {
	border-radius: 5px;
    float: left;
	background-color: #FFFFFF;
	display: grid;
	flex-direction: column;
	align-content:space-between;


	background-image: url(Resources/Projects/rxstarscream.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.column-content-wrapper {
	padding: 0px 20px;
}

.column_icon {
    float: left;
    padding: 10px;
	background-color: #FFFFFF;
}

@media (max-width: 900px) {
	.sectionStyleBlue {
		padding: 0px 20px 20px 20px;
	}

    .row {
        grid-template-columns: 1fr;
    }
}

/*  TIMELINE */

.timeline ul {
	background: #ffffff;
	padding: 2px 0;
  }
  
  .timeline ul li {
	list-style-type: none;
	position: relative;
	width: 6px;
	margin: 0 auto;
	padding-top: 25px;
	background: #0d2636;
  }
  
  .timeline ul li::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: inherit;
  }
  
  .timeline ul li div {
	position: relative;
	bottom: 0;
	width: 400px;
	padding: 15px;
	background: #0d2636;
  }
  
  .timeline ul li div::before {
	content: '';
	position: absolute;
	bottom: 7px;
	width: 0;
	height: 0;
	border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) div {
	left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
	left: -15px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #0d2636 transparent transparent;
  }
  
  .timeline ul li:nth-child(even) div {
	left: -439px;
  }
  
  .timeline ul li:nth-child(even) div::before {
	right: -15px;
	border-width: 8px 0 8px 16px;
	border-color: transparent transparent transparent #0d2636;
  }
  
  time {
	border-radius: 50%;
	display: block;
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 8px;
	font-family: Montserrat, Helvetica Neue, sans-serif;
	color: #ffffff;
  }
  
  .timeline ul li::after {
	transition: background .5s ease-in-out;
  }
  
  .timeline ul li.in-view::after {
	background: #0d2636;
  }
  
  .timeline ul li div {
	visibility: hidden;
	opacity: 0;
	transition: all .5s ease-in-out;
  }
  
  .timeline ul li:nth-child(odd) div {
	transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) div {
	transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view div {
	transform: none;
	visibility: visible;
	opacity: 1;
  }

  @media screen and (max-width: 900px) {
	.timeline ul li div {
	  width: 250px;
	}
	.timeline ul li:nth-child(even) div {
	  left: -289px;
	}
  }
  
  @media screen and (max-width: 600px) {
	.timeline ul li {
	  margin-left: 20px;
	}
	.timeline ul li div {
	  width: calc(100vw - 91px);
	}
	.timeline ul li:nth-child(even) div {
	  left: 45px;
	}
	.timeline ul li:nth-child(even) div::before {
	  left: -15px;
	  border-width: 8px 16px 8px 0;
	  border-color: transparent #0d2636 transparent transparent;
	}
  }